# ========================
# Python
# ========================
__pycache__/
*.pyc

# ========================
# ESP-IDF (C Project)
# ========================
build/
sdkconfig

*.bin
*.elf
*.map

# ========================
# Logs & Runtime Data
# ========================
logs/
*.log
*.json

# ========================
# General OS / Editor
# ========================
.DS_Store
*.swp
